{
  "semi": false,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.sol", "contracts/*.sol"],
      "options": {
        "tabWidth": 4,
        "trailingComma": "es5",
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
